language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev

# command to install dependencies
before_install:
 - pip install codecov

install: "pip install -r requirements.txt"

script:
 - cd src/checker; rm test.sqlite; sqlite3 test.sqlite < mysql_tables.sql
 - coverage run acceptorTest.py
 - coverage run -a configLoaderTest.py
 - coverage run -a coreTest.py

after_success:
  - codecov --token=ccd0a006-2ef3-4eff-aac3-c185a543cd53
