beautifulsoup4==4.5.1
enum34==1.1.6
marisa-trie==0.7.2
mock==2.0.0
ordered-set==2.0.1
pbr==1.10.0
publicsuffix==1.1.0
py-w3c==0.2.0
PyLaTeX==1.0.0
python-dateutil==2.5.3
python-magic==0.4.12
pytidylib==0.2.4
PyYAML==3.12
reppy==0.3.3
requests==2.11.1
six==1.10.0
tinycss==0.3
url==0.1.7
urllib3==1.16
Yapsy==1.11.223
