## The following requirements were added by pip freeze:
appdirs==1.4.0
beautifulsoup4==4.5.3
cachetools==2.0.0
enum34==1.1.6
marisa-trie==0.7.2
mock==2.0.0
ordered-set==2.0.1
packaging==16.8
pbr==1.10.0
publicsuffix==1.1.0
py-w3c==0.3.1
PyLaTeX==1.1.1
pyparsing==2.1.10
python-dateutil==2.6.0
python-magic==0.4.12
pytidylib==0.3.2
PyYAML==3.12
reppy==0.4.3
requests==2.13.0
six==1.10.0
tinycss==0.4
url==0.4.0
urllib3==1.20
Yapsy==1.11.223
